@using System.Runtime.InteropServices.ComTypes
@{
    Layout = "_LayoutAdmin";
}

<div class="container">
    
    <a href="/Categoria" class="btn btn-default">@blogNetCore.Internacionalizacao.traducao.voltar</a>
    
    <hr />
    
    <form action="/Categoria/Update" method="POST">
        
        <div class="form-group">
            
            @{
                var categ = (Categoria) ViewData["categoria"];
            }

            <input type="hidden" name="categoria.Id" value="@categ.id"/>
            
            <label for="descricao">@blogNetCore.Internacionalizacao.traducao.descricao: *</label>
            <input type="text" class="form-control" name="categoria.Descricao" id="descricao" data-val="true" required="required" data-val-required="@blogNetCore.Internacionalizacao.traducao.campo_obrigatorio" value="@categ.descricao"/>
            <span class="text-danger field-validation-valid" data-valmsg-for="descricao" data-valmsg-replace="true"></span>

        </div>
        
        <hr />
        
        <div class="form-group">
            <input type="submit" class="btn btn-success" value="@blogNetCore.Internacionalizacao.traducao.enviar"/>
        </div>
        
    </form>
    
</div>