@{
    Layout = "_LayoutAdmin";
}


<div class="container">
    
    <a href="/Categoria/Create" class="btn btn-default">@blogNetCore.Internacionalizacao.traducao.nova_categoria</a>
    
    <hr />
    
    <table class="table">
        
        <thead>
        <tr>
            <th>@blogNetCore.Internacionalizacao.traducao.descricao</th>
            <th></th>
        </tr>
        </thead>
        
        <tbody>
        @foreach (var item in ((List<Categoria>) ViewData["categorias"]))
        {
            <tr>
                <td>@item.descricao</td>
                <td>
                    <a href="/Categoria/Edit/@item.id" class="btn btn-primary">@blogNetCore.Internacionalizacao.traducao.editar</a>
                    <button class="btn btn-danger" onclick="confirmaExclusao('@item.id')">@blogNetCore.Internacionalizacao.traducao.excluir</button>
                </td>
            </tr>   
        }
        
        </tbody>
        
    </table>
    
</div>

<script>

    function confirmaExclusao(id) {

        swal({
            title: 'ATENÇÃO!',
            text: "Confirmar a exclusão deste registro?",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Confirmar',
            cancelButtonText: 'Cancelar'
        }).then(function () {
            window.location = '/Categoria/Delete/' + id;
        });

    }

</script>