@{
    Layout = "_LayoutAdmin";
}

<div class="container">
    
    <a href="/Post" class="btn btn-default">@blogNetCore.Internacionalizacao.traducao.voltar</a>
    
    <hr />
    
    <form action="#" method="POST">
        
        <div class="form-group">
            
            <label for="categoria">@blogNetCore.Internacionalizacao.traducao.categoria: *</label>
            <select class="form-control" name="categoria" required="required">
                <option>Categoria 1</option>
                <option>Categoria 2</option>
            </select>
            
        </div>
        
        <div class="form-group">
            <label for="titulo">@blogNetCore.Internacionalizacao.traducao.titulo: *</label>
            <input type="text" class="form-control" name="titulo" required="required"/>
        </div>
        
        <div class="form-group">
            <label for="conteudo">@blogNetCore.Internacionalizacao.traducao.conteudo: *</label>
            <textarea class="form-control" name="conteudo" required="required"></textarea>
        </div>
        
        <div class="form-group">
            <label for="resumo">@blogNetCore.Internacionalizacao.traducao.resumo:</label>
            <textarea class="form-control" name="resumo"></textarea>
        </div>
        
        <div class="form-group">
            <label for="tag">@blogNetCore.Internacionalizacao.traducao.tag: </label>
            <input type="text" class="form-control" name="tag" />
        </div>
        
        <hr />
        
        <div class="form-group">
            <input type="submit" class="btn btn-success" value="@blogNetCore.Internacionalizacao.traducao.enviar"/>
        </div>
        
    </form>
    
</div>