@{
    Layout = "_LayoutAdmin";
}
@model blogNetCore.Models.Post

<div class="container">
    
    <a href="/Post" class="btn btn-default">@blogNetCore.Internacionalizacao.traducao.voltar</a>
    
    <hr />
    
    <form action="/Post/Insert" method="POST">
        
        <div class="form-group">
            
            <label for="categoria">@blogNetCore.Internacionalizacao.traducao.categoria: *</label>
            <select class="form-control" name="post.Categoria_id" id="categoria" data-val="true" required="required" data-val-required="@blogNetCore.Internacionalizacao.traducao.campo_obrigatorio">
                <option value="">Selecione uma opção</option>
                @foreach (var item in ((List<Categoria>) ViewData["categorias"]))
                {
                    <option value="@item.id">@item.descricao</option>
                }
            </select>
            <span class="text-danger field-validation-valid" data-valmsg-for="categoria" data-valmsg-replace="true"></span>
            
        </div>
        
        <div class="form-group">
            <label for="titulo">@blogNetCore.Internacionalizacao.traducao.titulo: *</label>
            <input type="text" class="form-control" name="post.Titulo" id="titulo" data-val="true" required="required" data-val-required="@blogNetCore.Internacionalizacao.traducao.campo_obrigatorio"/>
            <span class="text-danger field-validation-valid" data-valmsg-for="titulo" data-valmsg-replace="true"></span>
        </div>
        
        <div class="form-group">
            <label for="conteudo">@blogNetCore.Internacionalizacao.traducao.conteudo: *</label>
            <textarea class="form-control" name="post.Conteudo" id="conteudo" data-val="true" required="required" data-val-required="@blogNetCore.Internacionalizacao.traducao.campo_obrigatorio"></textarea>
            <span class="text-danger field-validation-valid" data-valmsg-for="conteudo" data-valmsg-replace="true"></span>
        </div>
        
        <div class="form-group">
            <label for="resumo">@blogNetCore.Internacionalizacao.traducao.resumo:</label>
            <textarea class="form-control" name="post.Resumo"></textarea>
        </div>
        
        <div class="form-group">
            <label for="tag">@blogNetCore.Internacionalizacao.traducao.tag: </label>
            <input type="text" class="form-control" name="post.Tag" />
        </div>
        
        <hr />
        
        <div class="form-group">
            <input type="submit" class="btn btn-success" value="@blogNetCore.Internacionalizacao.traducao.enviar"/>
        </div>
        
    </form>
    
</div>